ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 40px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.maintitle {
    margin-top: 180px;
    font-size: 2.5em;
    line-height: 1;
}

.bold {
    font-weight: bold;
}

.deploy-red {
    color: #aa0000;
}

.light-gray {
    color: #cecece;
}

.sub-title {
    font-size: 0.7em;
}

.impress-enabled .substep {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition:    all 0.5s;
  -ms-transition:     all 0.5s;
  -o-transition:      all 0.5s;
  transition:         all 0.5s;  
}

.impress-enabled .substep.active {
  opacity: 1;
}

.impress-enabled .substep.present { 
  /*color: rgb(100, 135, 195);*/
}

.slide-title {
    /*-ms-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    transform: rotate(-90deg);*/
    /*position: absolute;*/
    /*left: -100px;*/
    top: 10px;
    font-size: 2.0em;
}

.text-big {
    font-size: 2em;
}

.text-med {
    font-size: 1.5em;
}

.mt100 {
    margin-top: 100px
}

.mt150 {
    margin-top: 150px
}

.mt200 {
    margin-top: 200px
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.usable-software-table {
    margin-left: 185px
}

.usable-software-table td {
    margin-top: 40px;
}

.list {
    margin-left: -20px;
}

.iterative-design-img {
    width: 80%;
}

.heuristic-evaluation-list li {
    margin-bottom: 0;
}

.ml50 {
    margin-left: 50px;
}

.ml100 {
    margin-left: 100px;
}

.ml200 {
    margin-left: 200px;
}